
virtualenv
venv
.venv


*.pyc
__pycache__/


*.sqlite3


/media/


/static/


.env
.flaskenv


.vscode/
.idea/
*.sublime-project
*.sublime-workspace


.pytest_cache/
.coverage
htmlcov/
.tox/


dist/
build/
*.egg-info/


uploads/


.DS_Store
Thumbs.db


node_modules/


*.log
logs/


*~
*.bak
*.swp


.coverage.*
.coverage

